@import url('https://fonts.googleapis.com/css2?family=Cocogoose&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --color-primary: #ec5242;
  --color-secondary: #272a31;
  --color-light: #fff;
  --color-dim: #d3d3d3;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", Helvetica, sans-serif;
}

.whole-program-btn,
#sponsor {
  display: none;
}

.headline,
.main-program,
.program-info,
.featured-speakers,
.speakers-info,
.speaker-details {
  display: flex;
  flex-direction: column;
}

.headline {
  background: url(../Images/Backgrounds/home-bg.png) whitesmoke no-repeat;
  background-size: 100%;
  padding: 5.7rem 18px 4.5rem;
}

p.welcome {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--color-primary);
  padding-bottom: 5px;
}

h1 {
  font-family: 'COCOGOOSE', sans-serif;
  font-size: 30px;
  font-weight: 900;
  background-image: url(../Images/Backgrounds/title-bg.png);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  line-height: 1;
}

p.intro {
  font-size: 12px;
  line-height: 1.2rem;
  color: var(--color-secondary);
  background-color: whitesmoke;
  border: 2px solid white;
  padding: 0.7rem;
  margin: 0.7rem 0;
  width: 650px;
  max-width: 100%;
}

.headline h2 {
  font-size: 1.3rem;
  font-weight: 900;
  line-height: 2.2rem;
  color: var(--color-secondary);
}

p.venu {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-secondary);
}

.main-program {
  align-items: center;
  background: url(../Images/Backgrounds/program-bg.png) var(--color-secondary);
  background-size: 1.6rem;
  padding: 2rem 0.8rem 3rem;
  width: 100%;
  gap: 1rem;
}

.main-program h2 {
  font-size: 1.2rem;
  color: var(--color-dim);
}

hr {
  background-color: var(--color-primary);
  border: 0.2px solid var(--color-primary);
  border-radius: 2px;
  width: 35px;
}

.program-info {
  margin: 1rem 0;
  gap: 0.5rem;
}

.program-info li {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease-in-out;
  padding: 1rem 0.5rem;
  min-height: 5.5rem;
  gap: 0.6rem;
}

.program-info img {
  width: 2.5rem;
}

.program-info h3 {
  color: var(--color-primary);
  flex: 2;
}

.program-info p {
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.2rem;
  color: var(--color-dim);
  flex: 4;
}

#join-btn {
  font-size: 1rem;
  color: var(--color-light);
  background-color: var(--color-primary);
  transition: all 400ms linear 0.1ms;
  padding: 1.5rem;
  cursor: pointer;
  border: none;
}

.featured-speakers {
  align-items: center;
  padding: 2rem 0.8rem 3rem;
  gap: 1rem;
}

.featured-speakers h2 {
  font-size: 1.2rem;
}

.speakers-info {
  margin-top: 1.5rem;
  gap: 2rem;
}

.speakers-info li {
  display: flex;
  gap: 1.5rem;
}

.speakers-info li:nth-child(n+3) {
  display: none;
}

.speaker-image {
  background: url(../Images/Backgrounds/image-bg.png) top left/contain no-repeat;
  max-width: 100px;
  flex: 1;
}

.speaker-image img {
  position: relative;
  max-width: 90px;
  top: 0.73rem;
  left: 0.8rem;
}

.speaker-details {
  gap: 0.5rem;
  flex: 2.5;
}

.speaker-details h3 {
  font-size: 1rem;
}

.speaker-position {
  font-size: 0.82rem;
  font-weight: 600;
  line-height: 1.2rem;
  color: var(--color-primary);
}

hr.grey-line {
  background-color: var(--color-dim);
  border: var(--color-dim);
  height: 0.1rem;
}

.speaker-intro {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.more-speakers {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light);
  border: 1px solid var(--color-secondary);
  border-radius: 3px;
  padding: 0.7rem 0;
  margin-top: 2rem;
  width: 100%;
  gap: 0.5rem;
}

.fa-chevron-down,
.fa-chevron-up {
  font-size: 1rem;
  color: var(--color-primary);
}

@media screen and (min-width: 768px) {
  /* CSS styles for tablet devices */

  #join-btn,
  .more-speakers {
    display: none;
  }

  main {
    margin-top: 6rem;
  }

  .headline {
    background-image: url(../Images/Backgrounds/home-bg-desk.png);
    padding: 6rem 10%;
  }

  p.welcome {
    font-size: 2.5rem;
  }

  h1 {
    font-size: 3.4rem;
  }

  p.intro {
    font-size: 0.9rem;
    border: 3.5px solid white;
    padding: 1.2rem;
    margin: 1.2rem 0;
  }

  .headline h2 {
    font-size: 1.6rem;
    margin: 0.7rem 0 0.9rem;
  }

  p.venu {
    font-size: 1.3rem;
  }

  .main-program {
    padding: 2.8rem 10%;
    background-size: 2rem;
  }

  .main-program h2 {
    font-size: 1.5rem;
  }

  .program-info {
    flex-direction: row;
    margin: 1.7rem 0 1rem;
    gap: 0.25rem;
  }

  .program-info li {
    flex-direction: column;
    text-align: center;
    padding: 1.5rem 0.9rem;
    gap: 1rem;
    flex: 1;
  }

  .program-info li:hover {
    transform: translateY(-2px);
    outline: 2px solid var(--color-light);
  }

  .program-info img {
    width: 2.8rem;
  }

  .program-info h3,
  .program-info p {
    flex: none;
  }

  .whole-program-btn {
    display: block;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-underline-position: under;
    line-height: 4rem;
    color: var(--color-dim);
  }

  .whole-program-btn:hover {
    color: var(--color-primary);
  }

  .featured-speakers {
    padding: 2rem 10% 3rem;
  }

  .featured-speakers h2 {
    font-size: 1.5rem;
  }

  #speakers .speakers-info {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  #speakers li {
    width: 47%;
  }

  #speakers li:nth-child(n+3) {
    display: flex;
  }

  .speaker-image {
    background-image: url(../Images/Backgrounds/image-bg-desk.png);
  }

  #sponsor,
  #sponsor .partner-logo li {
    display: flex;
    align-items: center;
  }

  #sponsor {
    flex-direction: column;
    background-color: var(--color-secondary);
    padding: 2rem 10%;
    gap: 1.5rem;
  }

  #sponsor h2 {
    font-size: 1.5rem;
    color: var(--color-dim);
  }
}

@media screen and (min-width: 992px) {
  /* CSS styles for small desktop screens */

  .headline {
    padding: 6.5rem 14% 8rem;
  }

  p.welcome {
    font-size: 2.65rem;
  }

  h1 {
    font-size: 3.65rem;
  }

  p.intro {
    max-width: 73%;
  }

  .headline h2 {
    font-size: 1.75rem;
  }

  #main-program {
    padding: 2.8rem 14%;
  }

  .featured-speakers {
    padding: 2rem 14% 3rem;
  }

  #sponsor {
    padding: 2rem 14%;
  }
}

@media screen and (min-width: 1200px) {
  /* CSS styles for large desktop screens */

  .headline {
    padding: 6.5rem 14.5% 8rem;
  }

  p.welcome {
    font-size: 2.8rem;
  }

  h1 {
    font-size: 3.8rem;
  }

  .headline h2 {
    font-size: 1.85rem;
  }

  #main-program {
    padding: 2.8rem 14.5%;
  }

  .program-info li {
    height: auto;
    min-height: 14rem;
  }

  .whole-program-btn {
    font-size: 1rem;
  }

  .featured-speakers {
    padding: 2rem 14.5% 3rem;
  }

  .speaker-image {
    max-width: 135px;
  }

  .speaker-image img {
    max-width: 120px;
    top: 1rem;
    left: 1rem;
  }

  #sponsor {
    padding: 2rem 14.5%;
  }
}

/* About Page CSS */

.about-main,
.about-logo,
.past-events,
.images-container,
.images-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-main {
  background: whitesmoke url(../Images/Backgrounds/about-bg.png) no-repeat center 2.5rem / 100%;
  padding: 4rem 1.5rem 1.5rem;
}

.about-main h1 {
  -webkit-text-fill-color: var(--color-primary);
  color: var(--color-primary);
  margin: 0.5rem 0 1rem;
}

.about-main hr,
.about-main i {
  display: none;
}

p.about-info,
p.contact,
.about-main a,
.about-logo p,
.past-events p {
  font-size: 0.85rem;
  line-height: 1.4rem;
  color: var(--color-secondary);
}

p.about-info {
  background-color: var(--color-light);
  border: 1px solid var(--color-dim);
  padding: 1rem 0.7rem;
  margin: 1.1rem 0;
  width: 650px;
  max-width: 100%;
}

p.contact {
  max-width: 20rem;
}

.about-main a {
  font-weight: 700;
  text-underline-position: under;
}

.about-logo {
  border-bottom: 1px solid var(--color-dim);
  padding: 2.5rem 1.5rem;
  gap: 1rem;
}

.about-logo h2 {
  font-size: 1.2rem;
  width: 15rem;
}

.about-logo p {
  max-width: 35rem;
}

.logo-container {
  max-width: 30rem;
  border: 1px solid var(--color-dim);
  margin-top: 1.5rem;
  padding: 1.5rem 4rem;
}

.logo-container img {
  width: 100%;
}

.past-events {
  padding: 2.5rem;
  gap: 1rem;
}

.past-events h2 {
  font-size: 1.2rem;
}

.images-container {
  margin-top: 1rem;
  width: 100%;
  max-width: 30rem;
  gap: 1.5rem;
}

.seventh-event,
.eighth-event {
  background-size: 100%;
  width: inherit;
}

.seventh-event {
  background-image: url(../Images/Previous-events/7th\ GWC\ 2019.jpeg);
}

.eighth-event {
  background-image: url(../Images/Previous-events/8th\ GWC\ 2020.jpg);
}

.images-container div {
  background-color: rgb(240 80 50 / 75%);
  transition: all 0.3s ease;
  padding: 20% 0;
  cursor: pointer;
  gap: 0.3rem;
}

.images-container h3 {
  font-size: 2rem;
  color: var(--color-light);
}

.images-container p {
  font-size: 1rem;
  color: var(--color-light);
}

#partner,
#partner li {
  display: flex;
  align-items: center;
}

#partner {
  flex-direction: column;
  background-color: var(--color-secondary);
  padding: 2rem 11%;
  gap: 1.5rem;
}

#partner h2 {
  font-size: 1.5rem;
  color: var(--color-dim);
}

.partner-logo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.partner-logo img {
  max-width: 8rem;
  filter: grayscale(100%) contrast(40%);
}

@media screen and (min-width: 768px) {
  /* CSS styles for tablet devices */

  .about-main .welcome,
  #partner {
    display: none;
  }

  .about-main hr {
    display: block;
  }

  .about-main {
    background-image: url(../Images/Backgrounds/about-bg-desk.png);
    background-position: center;
    background-position-y: 6.5rem;
    background-size: 90%;
    padding: 4rem;
  }

  .about-main h1 {
    font-size: 2.6rem;
    margin: 1rem;
  }

  p.about-info {
    margin: 2rem 0;
    padding: 1.5rem;
    max-width: 90%;
  }

  p.contact {
    max-width: 100%;
  }

  .about-main span {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }

  .about-main span:hover {
    color: var(--color-primary);
  }

  .about-main i {
    display: block;
    font-size: small;
    padding-top: 4px;
  }

  .about-logo {
    padding: 3rem 0 2.5rem;
  }

  .about-logo h2 {
    font-size: 1.5rem;
    width: max-content;
  }

  .logo-container {
    padding: 1.4rem 4rem;
    margin: 1.5rem 0 0.5rem;
  }

  .past-events {
    padding: 3rem 0 4rem;
  }

  .past-events h2 {
    font-size: 1.5rem;
  }

  .images-container {
    flex-direction: row;
    justify-content: center;
    margin: 2.5rem;
    max-width: 76%;
  }

  .images-container li {
    width: 320px;
  }
}

@media screen and (min-width: 992px) {
  /* CSS styles for small desktop screens */

  .about-main {
    background-size: 80%;
    background-position-y: 6rem;
  }

  p.about-info {
    padding: 1.5rem 3rem;
    min-width: 70%;
  }

  .past-events {
    padding: 3rem 0 4.5rem;
  }

  .images-container li {
    width: 380px;
  }
}

@media screen and (min-width: 1200px) {
  /* CSS styles for large desktop screens */

  p.about-info {
    min-width: 65%;
  }

  .about-logo p {
    max-width: 42rem;
  }

  .logo-container {
    max-width: 32rem;
  }

  .images-container li {
    width: 400px;
  }
}
