* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Lato", Helvetica, sans-serif;
}

.top-nav,
.campaign,
.logo,
.whole-program-btn,
#sponsor,
footer {
  display: none;
}

.bottom-nav {
  display: flex;
}

.hamburger {
  z-index: 100;
  position: absolute;
  left: 1.5rem;
  top: 1rem;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #272a31;
}

.hamburger.active {
  position: fixed;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.nav-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: -100%;
  height: 100vh;
  width: 100%;
  text-align: center;
  transition: all 0.3s ease-in-out;
  padding: 8rem 0;
  justify-content: space-between;
  background: #ec5242;
}

.nav-menu li {
  border-bottom: 1px solid #5a5a5a;
  width: 80%;
}

a.nav-item {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  line-height: 5rem;
}

.nav-menu.active {
  left: 0;
  z-index: 99;
}

.headline {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  background-image: url(../Images/Backgrounds/home-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 5.7rem 18px 2.2rem;
}

p.welcome {
  font-size: 1.25rem;
  font-weight: 400;
  color: #ec5242;
}

h1 {
  font-size: 32px;
  font-weight: 900;
  -webkit-background-clip: text;
  background-image: url(../Images/Backgrounds/title-bg.png);
  color: transparent;
}

p.intro {
  font-size: 12px;
  line-height: 1.2rem;
  color: #5a5a5a;
  background-color: whitesmoke;
  border: 2px solid white;
  padding: 0.7rem;
  margin: 0.7rem 0;
  width: 650px;
  max-width: 100%;
}

.headline h2 {
  font-size: 1.3rem;
  font-weight: 900;
  line-height: 2.2rem;
  color: #5b5b5b;
}

p.venu {
  font-size: 1rem;
  font-weight: 400;
  color: #5b5b5b;
}

#main-program {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../Images/Backgrounds/program-bg.png);
  background-color: #272a31;
  background-size: 1.6rem;
  padding: 2rem 0.8rem;
  width: 100%;
  gap: 1rem;
}

.featured-speakers h2 {
  font-size: 1.2rem;
}

.main-program h2 {
  font-size: 1.2rem;
  color: #d3d3d3;
}

hr {
  background-color: #ec5242;
  border: 0.2px solid #ec5242;
  border-radius: 2px;
  width: 35px;
}

.program-info {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  gap: 0.5rem;
}

.program-info li {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 400ms linear 0.1ms;
  padding: 1rem 0.5rem;
  min-height: 5.5rem;
  gap: 0.6rem;
}

.program-info img {
  width: 2.5rem;
}

.program-info h3 {
  color: #ec5242;
  flex: 2;
}

.program-info p {
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.2rem;
  color: #d3d3d3;
  flex: 4;
}

#join-btn {
  font-size: 1rem;
  color: #fff;
  background-color: #ec5242;
  transition: all 400ms linear 0.1ms;
  padding: 1.5rem;
  cursor: pointer;
  border: none;
}

.featured-speakers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0.8rem 3rem;
  gap: 1rem;
}

.more-speakers {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #5a5a5a;
  border-radius: 3px;
  padding: 0.7rem 0;
  margin-top: 1rem;
  width: 100%;
  gap: 0.5rem;
}

.fa-chevron-down {
  font-size: 1rem;
  color: #ec5242;
}

@media screen and (min-width: 768px) {
  .hamburger,
  #join-btn,
  .more-speakers {
    display: none;
  }

  .top-nav,
  .logo,
  .campaign,
  .whole-program-btn,
  #sponsor,
  footer {
    display: block;
  }

  .top-nav ul {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #3e3e3e;
    padding: 0 11%;
    gap: 1.5rem;
  }

  .fa-brands {
    color: #d3d3d3;
  }

  .top-nav a {
    font-size: 0.8rem;
    text-decoration: none;
    line-height: 1.6rem;
    color: #d3d3d3;
  }

  .bottom-nav {
    padding: 0 11%;
  }

  .logo {
    width: 10rem;
    flex: 2;
  }

  .nav-menu {
    left: auto;
    width: auto;
    height: auto;
    position: initial;
    flex-direction: row;
    background: none;
    padding: 0;
    flex: 3;
  }

  .nav-menu li {
    border: none;
    width: auto;
  }

  a.nav-item {
    font-size: 1rem;
    line-height: normal;
    color: #5a5a5a;
  }
  
  .nav-item.orange { 
    color: #ec5242;
  }

  .campaign .nav-item {
    font-size: 0.8rem;
    font-weight: 500;
    color: #ec5242;
    border: 4px solid #ec5242;
    padding: 0.5rem;
  }

  .headline {
    background-image: url(../Images/Backgrounds/home-bg-desk.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 6rem 11%;
  }

  p.welcome {
    font-size: 2.5rem;
  }

  h1 {
    font-size: 3.9rem;
  }

  p.intro {
    font-size: 0.9rem;
    max-width: 73%;
  }

  .headline h2 {
    font-size: 1.9rem;
    margin: 0.5rem 0;
  }

  p.venu {
    font-size: 1.3rem;
  }

  #main-program {
    padding: 2.5rem 11%;
  }

  .main-program h2 {
    font-size: 1.5rem;
    color: #d3d3d3;
  }

  .program-info {
    flex-direction: row;
    justify-content: space-between;
    gap: 0.17rem;
  }

  .program-info li {
    flex-direction: column;
    text-align: center;
    padding: 1.5rem 0.9rem;
    height: auto;
    min-height: 14rem;
    gap: 1rem;
    flex: 1;
  }

  .program-info img {
    width: 2.8rem;
  }

  .program-info h3,
  .program-info p {
    flex: none;
  }

  .whole-program-btn {
    display: block;
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
    text-underline-position: under;
    line-height: 4rem;
    color: #d3d3d3;
  }

  .featured-speakers {
    padding: 2rem 11% 3rem;
  }

  .featured-speakers h2 {
    font-size: 1.5rem;
  }

  #sponsor {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #272a31;
    padding: 2rem 11%;
    gap: 1.5rem;
  }

  #sponsor h2 {
    font-size: 1.5rem;
    color: #d3d3d3;
  }

  .partner-logo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .partner-logo li {
    display: flex;
    align-items: center;
  }

  .partner-logo img {
    max-width: 8rem;
    filter: grayscale(100%) contrast(40%);
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    padding: 0;
    height: 10rem;
  }
}

/* About Page CSS */

.about-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: whitesmoke;
  background-image: url(../Images/Backgrounds/about-bg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 2.5rem;
  padding: 4rem 1.5rem 1.5rem;
}

.about-main h1 {
  font-size: 2rem;
  font-weight: 900;
  color: #ec5242;
  margin: 0.5rem 0;
}

.about-main hr,
.about-main i {
  display: none;
}

p.about-info {
  font-size: 0.85rem;
  line-height: 1.4rem;
  color: #5a5a5a;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  padding: 1rem 0.7rem;
  margin: 1rem 0;
  width: 650px;
  max-width: 100%;
}

p.contact {
  font-size: 0.85rem;
  line-height: 1.4rem;
  color: #5a5a5a;
}

.about-main a {
  display: block;
  font-size: 0.85rem;
  font-weight: 700;
  text-underline-position: under;
  line-height: 1.5rem;
  color: #272a31;
}

.about-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #d3d3d3;
  padding: 2.5rem 1.5rem;
  gap: 1rem;
}

.about-logo h2 {
  font-size: 1.2rem;
  width: 15rem;
}

.about-logo p {
  font-size: 0.85rem;
  line-height: 1.4rem;
  color: #5a5a5a;
}

.logo-container {
  border: 1px solid #d3d3d3;
  margin-top: 1.5rem;
  padding: 1.5rem;
}

.logo-container img {
  width: 100%;
}

.past-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2.5rem;
  gap: 1rem;
}

.past-events h2 {
  font-size: 1.2rem;
}

.past-events p {
  font-size: 0.85rem;
  line-height: 1.4rem;
  color: #5a5a5a;
}

.images-container {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 1rem;
}

.images-container li {
  background-size: 100%;
  width: 320px;
}

.seventh-event {
  background-image: url(../Images/Previous-events/7th\ GWC\ 2019.jpeg);
}

.eighth-event {
  background-image: url(../Images/Previous-events/8th\ GWC\ 2020.jpg);
}

.images-container div {
  display: flex;
  flex-direction: column;
  background-color: rgb(240 80 50 / 75%);
  transition: all 0.3s ease;
  padding: 4.5rem 0;
  cursor: pointer;
  gap: 0.3rem;
}

.images-container h3 {
  font-size: 2rem;
  color: #fff;
}

.images-container p {
  font-size: 1rem;
  color: #fff;
}

#partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272a31;
  padding: 2rem 11%;
  gap: 1.5rem;
}

#partner h2 {
  font-size: 1.5rem;
  color: #d3d3d3;
}

.partner-logo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.partner-logo li {
  display: flex;
  align-items: center;
}

.partner-logo img {
  max-width: 8rem;
  filter: grayscale(100%) contrast(40%);
}

.footer-about {
  display: block;
  font-size: 0.5rem;
  text-align: center;
  padding: 2rem 23% 3rem;
}

@media screen and (min-width: 768px) {
  .about-main {
    background-image: url(../Images/Backgrounds/about-bg-desk.png);
    background-size: contain;
    background-position-y: 7rem;
    padding: 4rem;
  }

  .welcome,
  #partner {
    display: none;
  }

  .about-main h1 {
    font-size: 2.6rem;
    margin: 1rem;
  }

  .about-main hr {
    display: block;
  }

  .about-main span {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }

  .about-main i {
    display: block;
    font-size: small;
    padding-top: 4px;
  }

  p.about-info {
    margin: 2rem 0;
  }

  .about-logo {
    padding: 3rem 0 2.5rem;
  }

  .about-logo h2 {
    font-size: 1.5rem;
    width: max-content;
  }

  .about-logo p {
    width: 35rem;
  }

  .logo-container {
    padding: 1.4rem 4rem;
    margin: 1.5rem;
  }

  .past-events {
    padding: 3rem 0 4.5rem;
  }

  .past-events h2 {
    font-size: 1.5rem;
  }

  .images-container {
    flex-direction: row;
    margin: 2.5rem;
  }

  .images-container li {
    width: 380px;
  }

  .footer-about {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    background-color: #272a31;
    color: #d3d3d3;
    height: 10rem;
    padding: 0;
  }
}

/* Home Page Speakers Section */

.speakers-info {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 2rem;
}

.speakers-info li {
  display: flex;
  gap: 1.5rem;
}

.speakers-info li:nth-child(n+3) {
  display: none;
}

.speaker-details h3 {
  font-size: 1rem;
}

.speaker-image {
  background-image: url(../Images/Backgrounds/image-bg.png);
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  max-width: 100px;
  flex: 1;
}

.speaker-image img {
  position: relative;
  max-width: 90px;
  top: 0.73rem;
  left: 0.8rem;
}

.speaker-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 2.5;
}

.speaker-position {
  font-size: 0.82rem;
  font-weight: 600;
  line-height: 1.2rem;
  color: #ec5242;
}

hr.grey-line {
  background-color: #d3d3d3;
  border: #d3d3d3;
  height: 0.1rem;
}

.speaker-intro {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

@media screen and (min-width: 768px) {
  .speakers-info {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .speakers-info li {
    width: 47%;
  }

  .speakers-info li:nth-child(n+3) {
    display: flex;
  }

  .speaker-image {
    background-image: url(../Images/Backgrounds/image-bg-desk.png);
  }
}
